{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Habit Tree</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="An alternative way to improve yourself">
		<link rel="apple-touch-icon" sizes="57x57" href="static/habit-tree-favicon/tree13/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="static/habit-tree-favicon/tree13/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/habit-tree-favicon/tree13/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="static/habit-tree-favicon/tree13/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/habit-tree-favicon/tree13/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="static/habit-tree-favicon/tree13/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="static/habit-tree-favicon/tree13/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="static/habit-tree-favicon/tree13/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="static/habit-tree-favicon/tree13/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="static/habit-tree-favicon/tree13/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/habit-tree-favicon/tree13/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="static/habit-tree-favicon/tree13/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/habit-tree-favicon/tree13/favicon-16x16.png">
		<link rel="manifest" href="static/habit-tree-favicon/tree13/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="static/habit-tree-favicon/tree13/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>HABIT TREE</h1>
								<p>AN ALTERNATIVE WAY TO IMPROVE YOURSELF <br>
								START PLANTING!

</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#login">Log In</a></li>
								<li><a href="#register">Register</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">


							<article id="register">
								<h2 class="major">Join us!</h2>
								{% with messages = get_flashed_messages() %}
								  {% for message in messages %}
									<p>{{message}}</p>
								  {% endfor %}
								{% endwith %}
								{{wtf.quick_form(registerform, novalidate=True)}}
							</article>

							<article id="login">
								<h2 class="major">Log In</h2>
								{% with messages = get_flashed_messages() %}
								  {% for message in messages %}
									<p>{{message}}</p>
								  {% endfor %}
								{% endwith %}
								{{wtf.quick_form(loginform, novalidate=True)}}
							</article>


						

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{year}}</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
