{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Habit Tree</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>HABIT TREE</h1>
								<p>AN ALTERNATIVE WAY TO IMPROVE YOURSELF <br>
								START PLANTING!

</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#login">Log In</a></li>
								<li><a href="#register">Register</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">


							<article id="register">
								<h2 class="major">Join us!</h2>
								{% with messages = get_flashed_messages() %}
								  {% for message in messages %}
									<p>{{message}}</p>
								  {% endfor %}
								{% endwith %}
								{{wtf.quick_form(registerform, novalidate=True)}}
							</article>

							<article id="login">
								<h2 class="major">Log In</h2>
								{% with messages = get_flashed_messages() %}
								  {% for message in messages %}
									<p>{{message}}</p>
								  {% endfor %}
								{% endwith %}
								{{wtf.quick_form(loginform, novalidate=True)}}
							</article>


						

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{year}}</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
